body {
  background-color: light-grey;
}

img {
  width: 100%;
}

/*
Used colors
Primary color grey:#414042
Accent color orange:#F26322
Beige color: #D9BB8A
White color: #FFFFFF
*/

body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-family: presicav, sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 200;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size:
}

a {
  color: #F26322;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:focus {
  color: #000000;
  text-decoration: underline;
}

/*
button rukes always at the end of the css document
*/

.button {
  display: inline-block;
  background-color: #F26322;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button-contact {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button-contact:hover {
  background-color: #F26322;
  color: #ffffff;  
}
