body {
  background-color: light-grey;
}

img {
  width: 100%;
}

/*
Used colors
Primary color grey:#414042
Accent color orange:#F26322
Beige color: #D9BB8A
White color: #FFFFFF
*/

body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4;
}
  font-family: presicav, sans-serif;
  font-style: normal;
  font-weight: 100;
}
